#==============================================================================#

[File Repository]

DIRFILE:                            #Full experiment dirfile
DETFILE:                            #txt file with a list of detectors to map 
COOR1TYPE:                          #Coordinate 1  
COOR2TYPE:                          #Coordinate 2  
POINTINGOFF:                        #Pointing Offset File
DETTABLE:                           #Detectors parameters table File
DETPATH:                            #Path where the detectors data are stored
COORPATH:                           #Path where the coordinates data are stored

#------------------------------------------------------------------------------#

[Map Parameters]

CTYPE:                              #ctype of the map
CRPIX:                              #crpix of the map
CRDELT:                             #crdelt of the map in deg
CRVAL:                              #crval of the map in deg
CONV:                               #declare if the map needs to be convolved with a gaussian. if not set NA
STDEV:                              #set the FWHM for the convolution in arcsec


#------------------------------------------------------------------------------#

[Experiment Parameters]

DETFREQ:                            #Sampling frequency of the detectors
ACSFREQ:                            #Sampling frequency of the coordinates
DET_DIR_CONV:                       #conversion value from dirfile to data for detectors
COOR1_DIR_CONV:                     #conversion value from dirfile to data for the first coordinate
COOR2_DIR_CONV:                     #conversion value from dirfile to data for the second coordinate
FRAMES:                             #intial and final frame
DET_SAMP_FRAME:                     #sample in each frame for the detectors
ACS_SAMP_FRAME:                     #sample in each frame for the coordinates
DET_FILE_TYPE:                      #file type for the detectors
COOR1_FILE_TYPE:                    #file type for the first coordinate
COOR2_FILE_TYPE:                    #file type for the second coordinate

